/* RED-NEW – 7 SEPT 2018  t
- - - - - - - - - - - - - - - - - */





/* BLOG STYLING – target "web" blog 
- - - - - - - - - - - - - - */

.collection-5b101ce70e2e72057eceb815 {

// BLOG - title
h1.BlogItem-title {
  display: none;
}

// BLOG - meta
.Blog-meta {
  display: none;
}

// BLOG META – align
.tweak-blog-meta-primary-category 
.has-categories 
.BlogItem-meta {
  text-align: right;
  margin-bottom: 0;
}

// BLOG - post PAGE 
.Main.Main--blog-item 
.Main-content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

// BLOG – ITEM background
.BlogItem:not(.sqs-gallery-design-stacked-slide) {
  background: @desertstorm;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  }

h3 {
  color: @stardust-dark;
}

}


/* BLOG PAGINATION
- - - - - - - - - - - - - - */

// BLOG PAGINATION – label
.BlogItem-pagination-link-label {
  .anti;
  font-weight: 700;
  font-size: 10px;
  text-transform: lowercase;
  color: @text;
}

// BLOG PAGINATION – title
.BlogItem-pagination-link-title {
  .anti;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  color: @text;
}

// BLOG PAGINATION – meta item
.BlogItem-pagination-link-meta-item {
  .anti;
  text-transform: none;
  color: @text;
}

// BLOG PAGINATION – arrow
.BlogItem-pagination-link-icon {
  stroke: @text;
}

/* SLIDESHOW TOP CAPTION (blog pages)
- - - - - - - - - - - - - - */

.sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-top {

  // TITLE
  .meta-title a {
   .anti;
  font-size: 24px !important;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-decoration: none !important;
  color: @text !important;
  transition: @transition-fast;
  &:hover {
  opacity: @opacity-low;
  }  
@media @768 {
  font-size: 16px !important;
  }
@media @480 {
  font-size: 12px !important;
  }
}

  // CAPTION 
  .meta p a {
  .anti;
  font-size: 24px !important;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 1em;
  letter-spacing: 0.03em;
  color: @newred !important;
  text-decoration: none !important;
  opacity: 1;
  transition: @transition-fast;
&:hover {
  opacity: @opacity-low;
  }  
@media @768 {
  font-size: 16px !important;
  }
@media @480 {
  font-size: 12px !important;
  }
}

   // PADDING
  .meta-inside {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  @media @480 {
    .meta-inside {
    padding: 12px;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 0;
    }
  }

  // BACKGROUND – CAPTION PADDINGS 
  .meta {
  background-color: #FFF !important;
    padding-top: 1px;
    margin-top: 0px;
    width: 25% !important;

    @media @480 {
    width: 40% !important;
    }
  }
}

/* HIDING A SPECIFIC MOBILE  ITEM
- - - - - - - - - - - - - - */

@media @480 {
#arrow {
  display: none !important;
  }
}

/* STOP HYPHENATION
-------------------------- */

h1, h2, h3, p {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    .anti;
}


/* H1, H2, H3 RESPONSIVE
-------------------------- */


@h1-480: 3em;

// H1

@media @480 {
h1 {
  font-size: @h1-480;
  }
}

@media @1280 {
h1 {
  font-size: @h1-480;
  }
}

// H2

@media @480 {
h2 {
  font-size: 24px !important;
  }
}

@media @1280 {
h2 {
  font-size: 32px;
  }
}



/* SECTION TWEAKS
- - - - - - - - - - - - - */


/* SECTION 1
- - - - - - - - - - - - - */
#section-1 {

h1 {
  font-size: 96px;
  color: #FD4301;
@media @480 {
  font-size: @h1-480 !important;
  //color: rgba(255,255,255,1);
  }  
 }
}

/* SECTION 2
- - - - - - - - - - - - - */
#section-2 {

background-color: @desertstorm!important;
// background-color: @olive !important;
margin-top: 30px;

h1 {
  //font-size: 96px;
  color: @newred;
  // color: #BFBDBA;
@media @480 {
  font-size: @h1-480 !important;
  //color: rgba(255,255,255,1);
    }  
  }
h2 {
  color: @stardust-dark;
  // color: @olive-dark;
  padding-top: 8px;
  padding-left: 7vw;
@media @480 {
  padding-top: 0;
  padding-left: 0;
  }
 }
}

/* SECTION 3
- - - - - - - - - - - - - */
#section-3 {
  
background-color: @desertstorm !important;
margin-bottom: 30px;

h1 {
  color: @stardust;
  }

h2 {
  color: @stardust;
  }

h2 a {
  color: @stardust-dark !important;
  transition: @transition-fast;
&:hover {
  color: @stardust !important;
    }  
  }

h3 {
  color: @stardust;
  }

h3 a:link {
  color: #000 !important;
  }

h3 a:hover {
  opacity: @opacity-low !important;
  }
}


/* LOGOS
- - - - - - - - - - - - - - - - - */

// LOGO – align to top
.Header [data-nc-element] {
  padding-top: 0;
}

// MOBILE
.Mobile-bar-branding-logo {
    width: 40px;
}



// IMG ON HOVER
.sqs-block-image .image-block-outer-wrapper:not(.image-block-v2) 
.intrinsic .image-block-wrapper img {
  transition: @transition-effect;
&:hover {
  opacity: @opacity-low;
  }
}


/* FIXES FOR *SECTION* SLIDESHOW 
- - - - - - - - - - - - - - -  - */

#slideshow {

// SLIDESHOW SECTION – padding
.Index-page-content {
  padding-bottom: 10px !important;
  }

// SLIDESHOW SECTION – top caption padding
.sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-top .meta-inside {
  padding-left: 30px;
  }

// SLIDESHOW SECTION– controls
.sqs-gallery-controls .previous, 
.sqs-gallery-controls .next {
  margin-left: 30px;
  margin-right: 30px;
  }

// SLIDESHOW SECTION– full width 
.sqs-gallery-block-slideshow {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  }
}




/* GALLERY SLIDESHOW CONTROLS
- - - - - - - - - - - - - - */

// SLIDESHOW CONTROLS
.sqs-gallery-controls .previous, 
.sqs-gallery-controls .next {
  color: @newred !important;
  background-color: #FFF !important;
  opacity: 1;
  transition: @transition;
  //  margin-left: 30px;
  // margin-right: 30px;
}

.sqs-gallery-controls .previous:hover, 
.sqs-gallery-controls .next:hover {
  color: @stardust-dark !important;
  background-color: @newred;
  opacity: 1;
}

  // SLIDESHOW CONTROLS @480
@media @480 {
.sqs-gallery-controls .previous, 
.sqs-gallery-controls .next {
  font-style: bold;
  color: #FFF !important;
  background-color: transparent!important;
  }
}

@media @480 {
.sqs-gallery-controls .previous:hover, 
.sqs-gallery-controls .next:hover {
  color: #FFF !important;
  background-color: @decor!important;
  opacity: @opacity-low;
 }
}



/* SITE BORDER - remove @480
- - - - - - - - - - - - - - - - - */

.tweak-site-border-show .Site {
  border: 30px solid #FFF;
@media @480 {
  border-width: 10px;
  }
}



/* INDEX NAV INDICATORS
- - - - - - - - - - - - - - - - - 
// NAV INDICATORSCOLOR – color
.tweak-index-nav-style-radio .Index-nav.overlay .Index-nav-indicator {
  border-color: #ff3300 !important;
  transition: @transition-fast;
}
// INDEX NAV INDICATORS– hover
.tweak-index-nav-style-radio .Index-nav.overlay .Index-nav-indicator:hover {
  opacity: @opacity-low;
}
*/

// BUTTON LARGE – outline
.small-button-style-outline 
.sqs-block-button 
.sqs-block-button-element--large {
  .anti;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.03em;
  color: #FFF;
  background-color: transparent;
  border: 1px solid @line;
@media @480 {
  border: 1px solid #FFF;
}  
  padding: 12px 18px;
  opacity: 1;
  transition: @transition-fast;
&:hover {
  color: #000 !important;
  background-color: @stardust;
  border: 1px solid @stardust;
  }
}


// PARALLAX OVERLAY
.tweak-overlay-parallax-enabled .Parallax-item {
background-color: transparent;
}



/* HORIZONTAL RULE
- - - - - - - - - - - - - - - - - */
.sqs-block-horizontalrule hr {
  background-color: @stardust !important;
  margin-top: -1em !important;
  width: 150px !important;
  height: 14px !important;
  margin-left: 0 !important;
@media @480 {
  height: 8px !important;
  }
}

/* INDEX PAGE SCROLL INDICATOR
- - - - - - - - - - - - - - - - - */

// INDICATOR– placement
.Index-page-scroll-indicator {
  padding-bottom: 100px;
}

// INDICATOR – stroke width
.tweak-index-page-scroll-indicator-icon-weight-heavy 
.Index-page-scroll-indicator-arrow {
  stroke-width: 2;
}

// INDICATOR – stroke color
.Index-page-scroll-indicator-arrow {
  stroke: @newred;
}







.Index-page-content.sqs-alternate-block-style-container {
  padding-top: 60px;
  padding-bottom: 60px;
}





@white1: #F1F0F5;
@mercury: #E6E6E6;
@stardust: #9E9E9E;


#section-3 {
  background-color: @white1;
}



.sqs-block-image .design-layout-poster {
border: 1px solid #bbb;
}

.sqs-block-image .design-layout-poster .sqs-image-content::after, .sqs-block-image .design-layout-poster .image-overlay {
background-color: rgba(255,255,255,0);
}
.sqs-block-image .design-layout-poster .image-title, .image-subtitle {
opacity: 0;
}

.sqs-block-image .design-layout-poster:hover {
.sqs-image-content::after, .image-overlay {
background-color: rgba(255,255,255,1);
transition: all ease-in-out 300ms !important;
}
.image-title, .image-subtitle {
opacity: 1 !important;
transition: all ease-in-out 300ms !important;
}
}
/* poster styles for devices with no hover */
@media (hover: none) {
.sqs-block-image .design-layout-poster {
.sqs-image-content::after, .image-overlay {
background-color: rgba(255,255,255,1);
transition: all ease-in-out 300ms !important;
}
.image-title, .image-subtitle {
opacity: 1 !important;
transition: all ease-in-out 300ms !important;
}
}
}

/* INDEX PAGE IMG CARD – full width
-------------------------- 

// FULL WIDTH – targeting "team" section
#team 
.Index-page-content {
  padding-left: 0;
  padding-right: 0;
}

// BACKGROUND COLOR
#team 
.sqs-block-image 
.design-layout-card:not(.sqs-narrow-width)
.image-card-wrapper {
  background-color: red;
}

*/



/* TYPOGRAPHY
-------------------------- */

.Index-page--has-image h1 a {
  border-bottom-width: 0;
  padding-bottom: 0;
}

blockquote {
  background: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  //margin-top: -30px !important;
  border-color: transparent !important;
}


/* LISTS – unordered 
- - - - - - - - - - - - - - */

ul {
  font-weight: 200;
  color: @text;
  list-style: none;
  line-height: 1em;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 1em;
  margin-left: -2em;
  margin-bottom: .5em;
}

// SYMBOL BEFORE TEXT
ul li:before {
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: -.5em;
  content: ">";
  color: @newred;
}


/* SUMMARY MEDIUM  w. TITLE ON IMG ON HOVER
- - - - - - - - - - - - - - */

// TITLE TYPOGRAPHY – MEDIUM
.summary-block-setting-text-size-medium 
.summary-title {
  .anti;
//  font-family: flamamedium;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;;
  color: #FFF;
  opacity: 1;
  transition: @transition-fast;
&:hover {
  color: #FFF;
  opacity: 0 !important;
  }
} 

// TITLE POSITIONING – MEDIUM
.summary-block-setting-text-size-medium 
.summary-content a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: @transition;
}

.summary-block-setting-text-size-medium 
.summary-content .summary-title {
  max-width: 100%;
  box-sizing: border-box;
}


// IMG BEHAVIOUR – MEDIUM
.summary-block-setting-text-size-medium
.summary-item .img-wrapper img {
  transition: @transition-fast;

}

// IMG BEHAVIOUR – MEDIUM hover
.summary-block-setting-text-size-medium
.summary-item:hover .img-wrapper img {
  transform: scale(1.03);
}



// GENERAL
a.summary-thumbnail-container {
  transition: @transition-effect;
  opacity: 1;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}


.summary-block-setting-text-size-medium .summary-item .img-wrapper img {
  display: none;
}


a.summary-thumbnail-container {
   &[href="/web/donald-bostrom"] {
  background-image:url('https://static1.squarespace.com/static/5afed511a2772cdbc5c769e8/t/5b927982032be49d6858dc10/1536326018876/flowers_1000.jpg'); 
  background-color: #bae8e0; 
  }
}

a.summary-thumbnail-container {
   &[href="/web/nordisk-ravara"] {
  background-image:url('https://static1.squarespace.com/static/5afed511a2772cdbc5c769e8/t/5b927982032be49d6858dc10/1536326018876/flowers_1000.jpg'); 
  background-color: #FCAEB3;
  }
}



/* SUMMARY MEDIUM SETTINGS
-------------------------- */

/*
.summary-block-setting-text-size-medium {
 
// DIV  
.summary-content {
  //background: #999;
  padding: 0;
}

// EXCERPT - text
.summary-excerpt p {
  font-size: .8em;
  color: #000;
}
  
// EXCERPT - text link
.summary-excerpt p a {
  color: red;
  opacity: 1;
}

// EXCERPT - text link - hover
.summary-excerpt p a:hover {
  opacity: 0.7;
}

// TITLE
.summary-title {
  font-family: @meta;
  font-weight: 600;
  font-size: 18px !important;
  text-align: left;
  color: @text;
  margin-bottom: 5px;
}

// METADATA  
.summary-metadata-item {
  color: #000;
  text-transform: uppercase;
}

// IMG


// GENERAL
a.summary-thumbnail-container {
  transition: @transition-effect;
  opacity: 1;
  background-blend-mode: multiply;
  background-size: 70%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

a.summary-thumbnail-container {
   &[href="/web/donald-bostrom"] {
  background-image:url('https://static1.squarespace.com/static/5afed511a2772cdbc5c769e8/t/5b92580d352f53daee9fd93c/1536317454288/casefloraheader.jpg'); 
  background-color: #bae8e0; 
  }
}

a.summary-thumbnail-container {
   &[href="/web/happies-leksaker"] {
  background-image:url('https://static1.squarespace.com/static/5afed511a2772cdbc5c769e8/t/5b92580d352f53daee9fd93c/1536317454288/casefloraheader.jpg'); 
  background-color: #ff3300; 
  }
}

  
// IMG - hover
.summary-thumbnail-container:hover {
  opacity: @opacity-low !important;
  transform: scale(1.05);
}
}

*/


/* LESS
- - - - - - - - - - - - - - - - - */

.anti {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

// FONTS
@main: "neue-haas-grotesk-display",serif;
@body:  "neue-haas-grotesk-display", sans-serif;
@meta: "neue-haas-grotesk-display", sans-serif;

// @MEDIA
@480: ~"only screen and (max-width: 480px)";
@640: ~"only screen and (max-width: 640px)";
@768: ~"only screen and (max-width: 768px)";
@960: ~"only screen and (max-width: 960px)";
@1024: ~"only screen and (max-width: 1024px)";
@1280: ~"only screen and (max-width: 1280px)";

// MIN
@768min: ~"only screen and (min-width: 768px)";


// OLIVE COLOR THEME
@olive: #7F7A74;
@olive-light: #AFACA8;
@olive-dark: #5F5C57;

// WARM GREY COLOR THEME
@white1: #F1F0F5;
@mercury: #E6E6E6;
@stardust: #9E9E9E;
@stardust-dark: #636363;
@desertstorm: #FAF9F7;
@desertstorm-dark: #EBEAE8;

// COLORS
@text: #636363;
@decor: #717779;
@logo: #4934EC;
@newred: #FD4301;
@grey: #999;
@grey-ultra: #F9F9F9;
@grey-light: #EBEBEB;
@grey-dark: #8f8f8f;
@bg: #F3F4F3;
@line: rgba(200,200,200,.35);

// SPACING
@spacing-ultra-loose: .1em;
@spacing-medium: 0.02em;
@spacing-loose: .1em;
@spacing: 0;
@spacing-tight: -.03em;

// OPACITY
@opacity-low: 0.4;
@opacity: 1;
@opacity-high: 0.85;

// TRANSITIONS
@transition-fast: all 0.3s @ease;
@transition: all 0.5s @ease;
@transition-slow: all 0.8s @ease;
@transition-effect: all 1.0s cubic-bezier(0.160, 0.950, 0.555, 0.940);

@ease: ease;
